<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/15.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 1</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/14.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 2</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/13.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 3</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/15.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 1</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/14.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 2</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card">
                    <img src="../../../assets/13.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="title">Blog 3</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit officia, et totam voluptatum, natus deleniti facilis cupiditate, velit doloribus voluptatibus id esse dignissimos! Corrupti id sit veritatis impedit maxime.
                        </p> 
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>