
  <div class="container-fluid">
    <div class="row">
      <div class="column">
        <img src="../../../assets/f1.jpeg"/>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/f2.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/f3.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/f4.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/f5.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
      </div>
      <div class="column">
        <img src="../../../assets/n1.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/n2.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/n3.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/n4.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
      </div>
      <div class="column">
        <img src="../../../assets/p2.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/p1.jpeg" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/p3.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/p4.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
        <img src="../../../assets/p5.jpeg">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Nam dolores, velit voluptatem molestiae odio autem magni explicabo ipsa tempora! Corporis,
           quibusdam voluptatem incidunt explicabo molestias consectetur. Nulla aut et sit!</p>
      </div>
    </div>
  </div>
